<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <h1>Instagram</h1>
    <form action="http://localhost:8080/instagram/sign_in" method="post">
        <input  name="username" placeholder="Enter your username" type="text">
        <br><br>
        <input type="password" name="password" placeholder="Enter your password">
        <br>
        <br>
        <button>Sign in</button>
    </form>
</body>
</html>