<!-- to add header using include -->
 <!-- it it used to add a sub template to a template -->
 <%- include("includes/head.ejs");%>
<!-- here don't add / before includes -->
<body>
    <h1>This is Home Page</h1>
    <!-- example for interpolation syntax -->
     <h3>3 * 5 = <%= 3*5 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eligendi ab deserunt minima tempore expedita temporibus dicta fuga eum porro sapiente amet voluptate aut earum illo, magni saepe cumque suscipit.</p>
    <button>click here!</button>
    <%- include("includes/footer.ejs") %>
</body>
</html>