<%-include("includes/head.ejs")%>
<body>
    <h1>Roll Result: 
        <%=num%>
    </h1>
    <!-- to write control statements in ejs file we use <% %>-->
     <!-- eg -->
      <% if(num == 6){ %>
      <h2>Nice !</h2>
      <% } %>
      <%- include("includes/footer.ejs") %>
</body>
    
</html>