<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exit Success</title>
</head>
<body>

    <h1>We are Missing You !</h1><br>
    <form action="/">
        <button>Go to Home</button>
    </form>

</body>
</html>