<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
        <h1>Welcome!</h1>
        <h3>Thank you for Joining!</h3>
        <form action="/" method="get">
            <button>Go to Home</button>
        </form>
        
</body>
</html>