<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <h1>The total number of users are: <%= count %> </h1>
        <form action="/user/add" method="get">
            <button>join us today!</button>
        </form>

        <form action="/user/delete" method="get">
            <br><button>Exit !</button>
        </form>
         <form action="/users" method="get">
            <br><button>Show Users</button>
        </form>
</body>
</html>